.container{
    background-color: rgb(167, 167, 167);
    font-family: 'Courier New', Courier, monospace;
}

.exercicios{
background-color: rgb(209, 209, 209);
padding: 15px;
right: 24px;
border-radius: 10px;
position: fixed;
box-shadow: 0 0 35px rgba(32, 102, 139, 0.2)
}


